// mixins
@mixin be-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// spacing
.h-full {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

// display
.d-block {
  display: block;
}
// helper
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
