// list group
.listgroup {
  background-color: #2196f3;
  color: #fff;
  min-width: 200px;
  max-width: 500px;
  border-radius: 4px;

  // list group item
  &-item {
    padding: 10px;
    font-size: 17px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.173);
  }
}
